<div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" [(ngModel)]="username">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
        <input type="email" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" [(ngModel)]="email">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
        <input type="password" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" [(ngModel)]="password">
    </div>
    <button type="button" class="horizontal-center btn btn-warning big" (click)="onRegister()">Reistration</button>
</div>
<hr>
<div>
    <button type="button" class="horizontal-center btn btn-primary big" [routerLink]="['/auth/login']">Login</button>
</div>