<div>
    <span (click)="open()" class="sb">{{"SettingsWindow.Title" | translate}}</span>
</div>
<div *ngIf="isOpened">
    <div class="content">
        <div (click)="close()">
            <div class="item" *ngIf="isEnabledStorage">
                <span [routerLink]="['/my/s']">File storage</span>
            </div>
            <div class="item" *ngIf="isEnabledExchanger">
                <span [routerLink]="['/my/e']">File exchanger</span>
            </div>
            <div class="item" *ngIf="isAdmin">
                <span [routerLink]="['/config']">{{"SettingsWindow.Items.EditConfig" | translate}}</span>
            </div>
            <div class="item">
                <span [routerLink]="['/my/user']">{{"SettingsWindow.Items.UserSettings" | translate}}</span>
            </div>
            <div class="item" *ngIf="logined">
                <span (click)="onLogout()">{{"SettingsWindow.Items.Logout" | translate}}</span>
            </div>
        </div>
    </div>
</div>