<div class="container">
    <div class="row">
        <div class="col-{{colSize}} name">
            <span>Name:</span>
        </div>
        <div class="col-{{12 - colSize}}">
            <span>{{item?.name}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-{{colSize}} name">
            <span>Size:</span>
        </div>
        <div class="col-{{12 - colSize}}">
            <span>{{sizeString}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-{{colSize}} name">
            <span>Create date:</span>
        </div>
        <div class="col-{{12 - colSize}}">
            <span>{{createDate}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-{{colSize}} name">
            <span>Update date:</span>
        </div>
        <div class="col-{{12 - colSize}}">
            <span>{{updateDate}}</span>
        </div>
    </div>
</div>