<div class="container">
    <div class="row">
        <div class="col-{{colSize}} name">
            <span>{{"FileStorage.ObjectProperties.Name" | translate}}:</span>
        </div>
        <div class="col-{{12 - colSize}}">
            <span>{{item?.name}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-{{colSize}} name">
            <span>{{"FileStorage.ObjectProperties.Size" | translate}}:</span>
        </div>
        <div class="col-{{12 - colSize}}">
            <span>{{sizeString}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-{{colSize}} name">
            <span>{{"FileStorage.ObjectProperties.CreateDate" | translate}}:</span>
        </div>
        <div class="col-{{12 - colSize}}">
            <span>{{createDate}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-{{colSize}} name">
            <span>{{"FileStorage.ObjectProperties.Update" | translate}}:</span>
        </div>
        <div class="col-{{12 - colSize}}">
            <span>{{updateDate}}</span>
        </div>
    </div>
</div>